@import 'variables';
@import 'mixins';

.news {

  $block-name:                &; // #{$block-name}__element

  &__block {

    & + & {
      margin-top: 3em;
    }

    &:last-child {
      margin-bottom: 3em;
    }
  }

  &__title {
    color: $main-color;
  }

  &__item {

    & + & {
      margin-top: 2em;
    }

    &--current {
      padding-bottom: 1.5em;
      border-bottom: 1px solid $border-color;

      .news-text-card__title {
        font-weight: 400;
      }
    }
  }
}
