<section class="last-news">
  <div class="last-news__header">
    <h2 class="last-news__title">Остані новини</h2>
  </div>
  <ul class="list-nostyled  last-news__list">
    <li class="last-news__item">
      <div class="publishedon">30 грудня 2020</div>
      <a href="#" class="last-news__link">Нафтогаз: Технічний збій у роботі з клієнтами стався із за хакерів</a>
    </li>
    <li class="last-news__item  last-news__item--hot">
      <div class="publishedon">30 грудня 2020</div>
      <a href="#" class="last-news__link">Білорусь отримає $20 млн від Фонду ОПЕК</a>
    </li>
    <li class="last-news__item">
      <div class="publishedon">30 грудня 2020</div>
      <a href="#" class="last-news__link">Депутати закликали НКРЕКП відкоригувати норми щодо "зеленої" енергетики</a>
    </li>
    <li class="last-news__item  last-news__item--hot">
      <div class="publishedon">30 грудня 2020</div>
      <a href="#" class="last-news__link">Мінсоцполітики: Отримувачі субсидій не відчують підвищення тарифів</a>
    </li>
    <li class="last-news__item">
      <div class="publishedon">30 грудня 2020</div>
      <a href="#" class="last-news__link">СхідГЗК 4 січня вийде з простою</a>
    </li>
  </ul>
  <div class="last-news__footer">
    <a href="#">Всі новини</a>
  </div>
</section>
