<article class="news-card">
  <a href="#" class="news-card__link">
    <div class="news-card__overlay">
      <amp-img alt="Описание картинки"
        src="img/news-img-640.jpg"
        width="1.5"
        height="1"
        layout="responsive"
        srcset="img/news-img-480.jpg 480w,
                img/news-img-640.jpg 640w"
        >
      </amp-img>
    </div>
    <div class="news-card__section-name">%%caption</div>
    <h4 class="news-card__title">%%title</h4>
    <div class="publishedon">18 грудня 2020</div>
  </a>
</article>
