<article class="popular">
  <h2 class="special-title">
    Популярні:
  </h2>
  <ul class="list-nostyled  popular__list">
    <li class="popular__item">
      <a href="#" class="popular__link  popular__link--img" tabindex="-1">
        <amp-img
          alt="Описание картинки"
          src="/img/news-img-640.jpg"
          width="1.5"
          height="1"
          layout="responsive"
          srcset="/img/news-img-480.jpg 480w,
                  /img/news-img-640.jpg 640w"
          >
        </amp-img>
      </a>
      <div class="popular__text">
        <a class="popular__link" href="#">
          <span class="popular__section-title">Аналітика</span>
          <h5 class="popular__item-title">ЄБРР розглядає кредит найбільшій газовидобувній компанії України</h5>
          <div class="publishedon">28 вересня 2020</div>
        </a>
      </div>
    </li>
    <li class="popular__item">
      <a href="#" class="popular__link  popular__link--img" tabindex="-1">
        <amp-img
          alt="Описание картинки"
          src="/img/news-img-640.jpg"
          width="1.5"
          height="1"
          layout="responsive"
          srcset="/img/news-img-480.jpg 480w,
                  /img/news-img-640.jpg 640w"
          >
        </amp-img>
      </a>
      <div class="popular__text">
        <a class="popular__link" href="#">
          <span class="popular__section-title">Аналітика</span>
          <h5 class="popular__item-title">ЄБРР розглядає кредит найбільшій газовидобувній компанії України</h5>
          <div class="publishedon">28 вересня 2020</div>
        </a>
      </div>
    </li>
  </ul>
</article>
