<article class="similar-topic">
  <h2 class="special-title">
    По темі:
  </h2>
  <ul class="list-nostyled  similar-topic__list">
    <li class="similar-topic__item">
      <a href="#" class="similar-topic__link">
        <span class="similar-topic__text">
          ЄБРР розглядає кредит найбільшій газовидобувній компанії України
        </span>
        <div class="publishedon" style="text-decoration: none;">28 вересня 2020</div>
      </a>
    </li>
    <li class="similar-topic__item">
      <a href="#" class="similar-topic__link">
        <span class="similar-topic__text">
          ЄБРР розглядає кредит найбільшій газовидобувній компанії України
        </span>
        <div class="publishedon" style="text-decoration: none;">28 вересня 2020</div>
      </a>
    </li>
    <li class="similar-topic__item">
      <a href="#" class="similar-topic__link">
        <span class="similar-topic__text">
          ЄБРР розглядає кредит найбільшій газовидобувній компанії України
        </span>
        <div class="publishedon">28 вересня 2020</div>
      </a>
    </li>
  </ul>
</article>
