<aside class="special-projects">
  <h2 class="special-projects__title  container">Спецпроекти</h2>
  <ul class="container  special-projects__list">
    <li class="special-projects__item">
      <a href="#" class="special-projects__link">Енергетичні реформи</a>
    </li>
    <li class="special-projects__item">
      <a href="#" class="special-projects__link">Нетрадиційний газ</a>
    </li>
    <li class="special-projects__item">
      <a href="#" class="special-projects__link">EITI</a>
    </li>
    <li class="special-projects__item">
      <a href="#" class="special-projects__link">Енергомоніторинг соціальної сфери</a>
    </li>
  </ul>
</aside>
